<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>958731467455-ra95e427j2g2eq9mauiq567772ita7jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.958731467455-ra95e427j2g2eq9mauiq567772ita7jf</string>
	<key>API_KEY</key>
	<string>AIzaSyA1XhaYBeBU7zXztmZkHUB04nz2IQc7Pw0</string>
	<key>GCM_SENDER_ID</key>
	<string>958731467455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapp-b0a0f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-b0a0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958731467455:ios:ca37aeb7646b636303240a</string>
</dict>
</plist>